.item img {
    width:100px;
}
.item td{
    text-align: center;
}
.mycart table tr:hover {
    border-radius: 8px;
    box-shadow: 0.5px 0.5px 5px gray;
}
.mycart table tr:first-child {
    box-shadow: none;
}
.mycart table td, .mycart table th {
    padding-left: 15px; 
    padding-right: 15px; 
}
.mycart table input[name="chooseitems"] {
    visibility: hidden;
    zoom: 1.8;
    cursor: pointer;
}
.mycart table input[name="chooseitems"]:focus,
.mycart table tr:hover input[name="chooseitems"] {
    visibility: visible;
}