.signup-container input,
.signin-container input {
    width: 100%;
}
.signup-container input[type="submit"],
.signin-container input[type="submit"] {
    width: fit-content;
}
h1 {
    margin-bottom: 20px;
}