#menubar {
    position: absolute;
    display: none;
    top: 100%;
    background: var(--bg-light-color);
    width: inherit;
    height: 0px;
    z-index: 100;
    border-top: 1px solid var(--theme-light-color);
    padding: 0 20px;
    overflow: scroll;
    text-align: center;
}
#menubar::-webkit-scrollbar {
    display: none;
}
#menubar .price-range input {
    width: 100%;
}

@media (max-width: 1023px) {
    #menubar {
        display: flex;
        flex-direction: column;
    }
    #menubar>* {
        margin-bottom: 30px;
    }
}